<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Pind</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
    content="Droughts Predictor,Machine Learning,Data Visualization"
    name="keywords"
  />
  <meta
    content="Drought Predictor is a tool that uses
  Machine Learning and Data Visualization to show you
  plots and Density maps with realtime flood information, as well
  locational predictions about future floods and potential damage."
    name="description"
  />

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon" />
    <link href="img/favicon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link
      href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Libraries CSS Files -->
    <link
      href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}"
      rel="stylesheet"
    />
    <!-- Main Stylesheet File -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <style>
      input[type="text"],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      input[type="submit"] {
        width: 100%;
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: #45a049;
      }
    </style>
  </head>

  <body>
    <!--==========================
  Header
  ============================-->
    <header id="header">

      <div class="container">
        <div class="logo float-left">
          <a href="index.html" class="scrollto"
            ><img
              style="margin-top: -2px; min-height: 40px"
              src="{{ url_for('static', filename='img/logo.png') }}"
              alt=""
              class="img-fluid"
          /></a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="plots.html">Plots</a></li>
            <li><a href="densityMaps.html">Density maps</a></li>
            <li><a href="predictsdrought.html">Predict Drought</a></li>
            <li class="active"><a href="predicts.html">Predict</a></li>
          </ul>
        </nav>
        <!-- .main-nav -->
      </div>
    </header>
    <!-- #header -->

    <main id="main">
      <br /><br /><br /><br /><br />
      <!--==========================
      Services Section
    ============================-->
      <section id="services" class="section-bg">
        <div class="container">
          <header class="section-header">
            <h3>Select City!</h3>

            <p>
              Select a city name to get information about it!
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12" align="center">
              <form class="form-inline" method="POST" action="predicts.html" style="display: inline-block;">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" name="city" placeholder="Enter a city"></input>
                  </div>
                  <button type="submit" class="btn btn-default" style="margin-left:15px;height:50px;background-color:#1bb1dc;color:white;">Go</button>
                </div>
              </form>
            </div>
        </div>
      </section>
      <!-- #services -->
      <section id="services" class="section-bg">
        <div class="container">
          <header class="section-header">
            <h3>{{ cityname }}</h3>
          </header>
          <br><br>

          <div class="row">
            <div
              class="col-md-12 col-lg-12 wow bounceInUp"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon" style="background: #fceef3;">
                  <i
                    class="ion-ios-analytics-outline"
                    style="color: #ff689b;"
                  ></i>
                </div>
                <h4>Droughts</h4>
                {% if pred == "Safe" %}
                <h4 style="font-weight: 900;font-size: 40px;color:#41cf2e;">Safe</h4>
                  <h6 style="font-weight: 400;font-size: 20px;">According to our ML model, we did not detect any signs of a potential flood and drought.</h6>
                {% endif %}

                {% if pred == "Unsafe" %}
                <h4 style="font-weight: 900;font-size: 40px;color:#FF002e;">Unsafe</h4>
                  <h6 style="font-weight: 400;font-size: 20px;">According to our ML model, this area has potential risk of flooding within the next 15 days. Please take emergency measures.</h6>
                {% endif %}
                
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 wow fadeIn"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon" style="background: #fceef3;">
                  <i
                    class="ion-ios-analytics-outline"
                    style="color: #ff689b;"
                  ></i>
                </div>
                <h4>Temperature (F)</h4>
                <h4 style="font-weight: 900;font-size: 40px;">{{temp}}</h4>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 wow fadeIn"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon" style="background: #fff0da;">
                  <i
                    class="ion-ios-bookmarks-outline"
                    style="color: #e98e06;"
                  ></i>
                </div>
                <h4>Max Temperature (F)</h4>
                <h4 style="font-weight: 900;font-size: 40px;">{{maxt}}</h4>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 wow fadeIn"
              data-wow-delay="0.1s"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon" style="background: #e6fdfc;">
                  <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
                </div>
                <h4>Windspeed (mph)</h4>
                <h4 style="font-weight: 900;font-size: 40px;">{{wspd}}</h4>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 wow fadeIn"
              data-wow-delay="0.1s"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon" style="background: #eafde7;">
                  <i
                    class="ion-ios-speedometer-outline"
                    style="color: #41cf2e;"
                  ></i>
                </div>
                <h4>Cloud Cover (%)</h4>
                <h4 style="font-weight: 900;font-size: 40px;">{{ cloudcover }}</h4>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 wow fadeIn"
              data-wow-delay="0.2s"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon" style="background: #e1eeff;">
                  <i class="ion-ios-world-outline" style="color: #2282ff;"></i>
                </div>
                <h4>Precipitation (mm)</h4>
                <h4 style="font-weight: 900;font-size: 40px;">{{ percip }}</h4>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 wow fadeIn"
              data-wow-delay="0.2s"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon" style="background: #ecebff;">
                  <i class="ion-ios-clock-outline" style="color: #8660fe;"></i>
                </div>
                <h4>Humidity (%)</h4>
                <h4 style="font-weight: 900;font-size: 40px;">{{ humidity }}</h4>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html> -->